$rosa : #f15bb5;
*{
    margin: 0;
    padding: 0;
}

/*color de header*/
.header{
    background-color: $rosa;
    
    
}

#letraschicas{
    font-size: small;
}

/*el accordion de faq*/

.accordion{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.centrar{
    display: flex;
    text-align: center;
    justify-content: center;
}

.letrasBlancas{
    color: white;
}

/*las imagenes productos flex*/

.productosFlex{
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
}

.buscadorFlex{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.llenar{
    display: flex;
    justify-content: center;
}

.letrasgrandes2{
    font-size: larger;
    padding-bottom: 50px;
}

.letrasGrandes3{
    font-size: large;
}

/*el flex en quienes somos*/

.pFlex{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}

.cambiarletras{
    font-family: Arial, Helvetica, sans-serif;
}

.boton{
    border: black solid 2px;
    padding: 10px;
}

.letrasGrandes{
    font-size: medium;
}

/*el tamaño de index*/

.tamañoImg{
    height: 700px;
}

.tamañoImg2{
    height: 550px;
    
}

.caja{
    border: #00000034 solid 8px;
    border-radius: 15px;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: #000000d5;
    width: 450px;
    height: 500px;
    margin: 10px;
}

.caja2{
    width: 450px;
    height: 550px;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    border: #000000 solid 2px;

}

.divFlex{
    display: flex;
}

.formflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*las imagens del footer*/

.redesSociales{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.botonLargo{
    width: 300px;
    
}

.redesSocialesflex{
    display: flex;
}

.ul{
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

.main{
    background-color: $rosa;
}


.footer{
    background-color: #000000;
    
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


