*{
    margin: 0;
    padding: 0;
}

/*color de header*/
.header{
    background-color: pink;
    
    
}

#letraschicas{
    font-size: small;
}

/*el accordion de faq*/

.accordion{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.centrar{
    display: flex;
    text-align: center;
    justify-content: center;
}

.letrasBlancas{
    color: white;
}

/*las imagenes productos flex*/

.productosFlex{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.llenar{
    display: flex;
    justify-content: center;
}

.letrasgrandes2{
    font-size: larger;
    padding-bottom: 50px;
}

.letrasGrandes3{
    font-size: large;
}

/*el flex en quienes somos*/

.pFlex{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    background-color: aqua;
    border: #000000 solid 2px;
    flex-direction: column;
    align-items: center;
}

.cambiarletras{
    font-family: Arial, Helvetica, sans-serif;
}

.boton{
    border: black solid 2px;
    padding: 10px;
}

.letrasGrandes{
    font-size: medium;
}

/*el tamaño de index*/

.tamañoImg{
    height: 700px;
}

/*el tamaño de las imagenes de productos*/

.tamañoImg2{
    width: 300px;
    height: 300px;
    padding: 5px;
}

.divFlex{
    display: flex;
}

.formflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*las imagens del footer*/

.redesSociales{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.redesSocialesflex{
    display: flex;
}

.ul{
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

.main{
    background-color: pink;
}

/*la estrella de todas las paginas*/

.estrella{
    display: flex;
    height: 300px;
    justify-content: center;
    
}
.footer{
    background-color: #000000;
    
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


